.hdr-1 {
	height: 55px;
	background-color: #232323;
}

.hdr-logo {
	height: 48px;
	margin-top: 3px;
}

.hdr-2 {
	width: 1450px;
	height: 45px;
	background-color: #8CF72B;
	border-bottom-left-radius: 300px;
	border-bottom-right-radius: 300px;
}

.hdr-a {
	font-size: 20px;
	font-family: Helvetica;
	color: black;
	text-decoration: none;
}

.ma {
	margin-left: auto;
	margin-right: auto;
}

.ff {
	font-family: Helvetica;
}

.txt28 {
	font-size: 28px;
}

.txt24 {
	font-size: 24px;
}

.txt40 {
	font-size: 40px;
}

.txt18 {
	font-size: 18px;
}

.txt62 {
	font-size: 62px;
}

.b {
	font-weight: bold;
}

.txt-w {
	color: white;
}

.d-flex {
	display: flex;
}


.ml1 {
	margin-left: 110px;
}

.banner {
	background-image: url(Banner.jpg);
	height: 790px;
	background-size: 100% 100%;
}

.div-bnnr {
	width: 560px;
	height: 355px;
	margin-top: 390px;
}

.butt {
	width: 330px;
	height: 65px;
	background: #8CF72B;
	border: 5px solid #FFFFFF;
	border-radius: 33.5px;
}

.bgp {
	background-color: pink;
}

.bgr {
	background-color: red;
}

.div-nf {
	width: 470px;
	height: 342px;
}

.ml2 {

	margin-left: 20px;
}

.a-rm {
	margin-left: 10px; 
	color: #95C7E3; 
	text-decoration: none;
}

.col {
	width: 1450px;
	height: 600px;
}

.explore {
	width: 1450px;
	height: 1045px;
	background-image: url(explore.png);
	background-size: 100% 100%;
}

.ed-st {
	width: 1403px;
	margin-left: 25px;
	height: 315px;
}
.e-d {
	width: 689px;
	height: 315px;
}

.cellar {
	height: 460px;
	background-image: url(Cellar.jpg);
	background-size: 100% 100%;
}














